h1= 'Question Title: '
h1= @question.title
p= 'Question Body: ' 
p= @question.body

= render 'shared/errors', resource: @question
= render @question.answers
= render partial: 'answers/new', resource: @answer